.about_me {
    padding-top: 120px;
    .about__wrapper{
        display: grid;
        grid-template-columns: 400px 670px; /* 400 this is first colum 670 second colum */
        grid-template-rows: minmax(245px, auto) minmax(255px, auto); /* first minmax is first row second is second row */
        grid-auto-rows: minmax(245px, auto); /* if will be more info, this is will put it correctly */
        column-gap: 70px;
        row-gap: 40px;
    }
    .about__photo {
        grid-row: 1/3;
        img {
            width: 100%;
        }
    }
    .about__description {
        padding-top: 6px;
        .divider {
            margin: 4px;

        }

    }
    .about__title {
        position: relative;
        padding-left: 12px;
        @include befor_circle;
    }
    .about__text {
        padding-top: 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }
    .about__skills {
        display: grid;
        grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 260px); /* template this is one think for grid-template-columns and row */
        grid-auto-rows: 1fr;
        column-gap: 50px;
        row-gap: 20px;
        .about__skills-item {
            display: grid;
            grid-template-columns: 40px 200px;
            column-gap: 20px;
        }
        .about__skills-circle {
            position: relative;
            padding: 15px 0 0 15px;
            @include befor_circle;
            &::before {
                top: 0;
            }
        }
        .about__skills-text{
            margin-top: 6px;
            font-size: 12px;
            line-height: 18px;
        }
    }
}