.button {
    height: 45px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 12px 25px;
    border-radius: 4px;
    transition: 0.1s all;
    &_main{
        background: $main-color;
        &:hover {
            background-color: $main-hover;
        }
        &:active{
            background-color: $main-active;
        }
    }
    &_second{
        &:hover {
            background-color: $second-hover;
        }
        &:active{
            background-color: $second-active;
        }
    }
}
