.resume {
    margin-top: 120px;
    &__title {
        position: relative;
        text-align: center;
        @include befor_circle;
        &::before{
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    .resume__column {
        &-title {
            position: relative;
            padding-left: 35px;
            &::before {
                content: "";
                position: absolute;
                left: -7px;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background: #ffa501;
                top: 50%;
                transform: translateY(-50%);
                 }
            }
        }
    
        ul {
            list-style-type: none;
            li {
                position: relative;
                &::after{
                    content: '';
                    width: 1px;
                    height: calc(100% + 16px); /* це щоб полоска була до самого низу а не оборізана */
                    position: absolute;
                    top: -16px;
                    left: 0;
                    background-color: #000;

                }
            }
        }
    
    &__item {
        position: relative;
        &::before {
            content: '';
            height: 1px;
            width: 45px;
            position: absolute;
            top: 68px;
            background-color: #000;
        }
        &-head {
            position: relative;
            padding: 45px 0 0 100px;
            h4 {
                margin-bottom: 0;
            }
        }
        &-body {
            padding-left: 43px;
            margin-top: 12px;
            font-size: 12px;
            line-height: 18px;
        }
        &-icon {
            position: absolute;
            top: 50px;
            left: 45px;
            @include befor_circle;
            img {
                position: absolute;
                top: 14px;
                left: 17px;
            }

        }
        &-location {
            font-size: 12px;
            line-height: 18px;
            margin-top: 4px;
        }
    }
}